.page-header {
    background-color: #00FFFF;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

body {
    padding-left: 15px;
}

.reg_form{
    border-spacing: 10px 30px;
    padding-left: 20px;
}

.btn{
    color: #fff;
    background-color: #000033;
    font-size: 1.0em;
    padding: 10px 30px;
    margin-left: 80%;
}

.btn:hover{
    color: #fff;
    background: #000099;
}

.syukei {
    table-layout: fixed;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.pk {
    table-layout: fixed;
    width: 50px;
    text-align: center;
    padding: 5px;
}

.date {
    table-layout: fixed;
    width: 120px;
    text-align: center;
    padding: 5px;
}

.item {
    table-layout: fixed;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.debit {
    table-layout: fixed;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.credit {
    table-layout: fixed;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.amount {
    table-layout: fixed;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.center {
    text-align: center;
}

.reg_table {
    border-spacing: 10px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
