{% extends 'kodukai/base.html' %}

{% block content %}
<h2>{{ UserID }}さん、ようこそ！！</h2>
<p>{{ 年 }}年{{ 月 }}月の集計</p>
<table border="1">
<tr>
<td class="syukei">銀行</td><td class="syukei">{{ 銀行 }}</td><td class="syukei">{{ カード }}</td><td class="syukei">カード</td>
</tr>
<tr>
<td class="syukei">現金</td><td class="syukei">{{ 現金 }}</td><td class="syukei">{{ 借金 }}</td><td class="syukei">借金</td>
</tr>
<tr>
<td class="syukei">スイカ</td><td class="syukei">{{ スイカ }}</td><td class="syukei">{{ 小遣い }}</td><td class="syukei">小遣い</td>
</tr>
<tr>
<td class="syukei">立替</td><td class="syukei">{{ 立替 }}</td><td class="syukei">{{ 引当金 }}</td><td class="syukei">引当金</td>
</tr>
<tr>
<td class="syukei">ペイペイ</td><td class="syukei">{{ ペイペイ }}</td><td class="syukei">　</td><td class="syukei">　</td>
</tr>
<tr>
<td class="syukei">デビット計</td><td class="syukei">{{ デビット計 }}</td><td class="syukei">{{ クレジット計 }}</td><td class="syukei">クレジット計</td>
</tr>
</table>
<p>ログアウトは
<a href="{% url 'Logout' %}">こちら</a>
</p>
{% endblock %}

